/* Write your CSS here! */ 
body {
    margin: 8px;
    display: block;
    font-family: Arial, sans-serif;
}

#mainHeading {
    color: red;
    text-align: center;
    font-size: 25px;
}

.funParagraph {
    font-style: italic;
    color: green;
    margin-bottom: 10px;
}

h2 {
    color: grey;
    text-align: center;
    font-size: 25px;
}
